name: Job Alert

env:
    SENDER_EMAIL: ${{secrets.SENDER_EMAIL}}
    SENDER_EMAIL_PASS: ${{secrets.SENDER_EMAIL_PASSWORD}}
    RECIPIENTS_LIST_UK_FOR_JOBS: ${{secrets.RECIPIENTS_LIST_UK_FOR_JOBS}}
    RAPID_API_KEY: ${{secrets.RAPID_API_KEY}}
on:
  
  # The Cron Schedule
  schedule:
    - cron: "0 7 * * */3"
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  

  build:
    runs-on: ubuntu-latest
  
    permissions:
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python 'Day 36 - Job Search API/mail_sender.py'
        
      