# Cron Scheduled Workflow
name: Send Email On Cron Schedule

on:
  schedule:
    - cron: "* * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout dependencies
        run: pip install -r ./requirements.txt

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run script
        run: python 'Day 32 - Email Sender/main.py'

